
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-attention-filled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-attention-1:before { content: '\e807'; } /* '' */
.icon-brush:before { content: '\e808'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
